In [1]:
%matplotlib inline
import pandas as pd
import rtmtools.lblrtm.aerutils as aerutils

In [2]:
def load_working_atmproh5_RRTMG(case = 'H2O'):
    if case == 'H2O':
        h5path = '/nuwa_cluster/home/jackyu/radiation/rrtmg/LW/examples/mls70_H2O/atmpro_mls70.h5'
    elif case == 'CO2':
        h5path = '/nuwa_cluster/home/jackyu/radiation/rrtmg/LW/examples/mls70_CO2/atmpro_mls70_CO2.h5'
    elif case == 'O3':
        h5path = '/nuwa_cluster/home/jackyu/radiation/rrtmg/LW/examples/mls70_O3/atmpro_mls70_O3.h5'
    
    store = pd.get_store(h5path)
    df = store['atmpro']
    store.close()
    return df

In [10]:
atmpro_h2o = load_working_atmproh5_RRTMG(case = 'H2O')
atmpro_co2 = load_working_atmproh5_RRTMG(case = 'CO2')
atmpro_o3  = load_working_atmproh5_RRTMG(case = 'O3')

In [11]:
atmpro_h2o.head()

    altitude  pressure  temperature     H2O  CO2  O3  N2O  CO  CH4  O2
70  89.60800   0.00242    212.06955  6.4321    0   0    0   0    0   0
69  87.50455   0.00339    212.61195  6.4321    0   0    0   0    0   0
68  85.39563   0.00476    213.15535  6.4321    0   0    0   0    0   0
67  83.28138   0.00667    213.69980  6.4321    0   0    0   0    0   0
66  81.16173   0.00936    214.24530  6.4321    0   0    0   0    0   0

In [13]:
atmpro_co2.head()

    altitude  pressure  temperature  H2O  CO2  O3  N2O  CO  CH4  O2
70  89.60800   0.00242    212.06955    0  350   0    0   0    0   0
69  87.50455   0.00339    212.61195    0  350   0    0   0    0   0
68  85.39563   0.00476    213.15535    0  350   0    0   0    0   0
67  83.28138   0.00667    213.69980    0  350   0    0   0    0   0
66  81.16173   0.00936    214.24530    0  350   0    0   0    0   0

In [14]:
atmpro_o3.head()

    altitude  pressure  temperature  H2O  CO2       O3  N2O  CO  CH4  O2
70  89.60800   0.00242    212.06955    0    0  0.21399    0   0    0   0
69  87.50455   0.00339    212.61195    0    0  0.24078    0   0    0   0
68  85.39563   0.00476    213.15535    0    0  0.26770    0   0    0   0
67  83.28138   0.00667    213.69980    0    0  0.29474    0   0    0   0
66  81.16173   0.00936    214.24530    0    0  0.32190    0   0    0   0

In [17]:
def make_h2o_co2_atmproh5(atmpro_h2o, atmpro_co2):
    atmpro = atmpro_h2o.copy(deep = True)
    atmpro['CO2'] = atmpro_co2['CO2'].copy(deep = True)
    return atmpro

In [19]:
atmpro_h2o_co2 = make_h2o_co2_atmproh5(atmpro_h2o, atmpro_co2)

In [20]:
atmpro_h2o_co2.head()

    altitude  pressure  temperature     H2O  CO2  O3  N2O  CO  CH4  O2
70  89.60800   0.00242    212.06955  6.4321  350   0    0   0    0   0
69  87.50455   0.00339    212.61195  6.4321  350   0    0   0    0   0
68  85.39563   0.00476    213.15535  6.4321  350   0    0   0    0   0
67  83.28138   0.00667    213.69980  6.4321  350   0    0   0    0   0
66  81.16173   0.00936    214.24530  6.4321  350   0    0   0    0   0

In [21]:
def write_atmpro_h2o_co2_to_h5(atmpro_h2o_co2):
    store = pd.HDFStore('atmpro_mls70_H2O_CO2.h5', mode = 'w')
    store.append('atmpro', atmpro_h2o_co2)
    store.close()

In [22]:
write_atmpro_h2o_co2_to_h5(atmpro_h2o_co2)

In [23]:
!ls

atmpro_mls70_H2O_CO2.h5     longwave_write_out_result_summaries.ipynb
atmpro_preparation.ipynb    notes_-_CLIRAD_LW.ipynb
lblrtm_solar_TAPE13.ipynb   O3_abs.ipynb
longwave_mls_CO2.ipynb	    results_summary
longwave_mls_CO2_tmp.ipynb  shortwave_mls_CO2.ipynb
longwave_mls_H2O_CO2.ipynb  shortwave_mls_H2O.ipynb
longwave_mls_H2O.ipynb	    shortwave_mls_O3.ipynb
longwave_mls_H2O_tmp.ipynb  shortwave_write_out_result_summaries.ipynb
longwave_mls_O3.ipynb	    solar_spectral_irradiance.ipynb
longwave_mls_O3_tmp.ipynb